web/WEB-INF/wsdl/localhost_8080/BuscaWS/BuscaWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://WebService/" name="BuscaWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://WebService/" schemaLocation="BuscaWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="listarProd">
    <part name="parameters" element="tns:listarProd"/>
  </message>
  <message name="listarProdResponse">
    <part name="parameters" element="tns:listarProdResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="testeVet">
    <part name="parameters" element="tns:testeVet"/>
  </message>
  <message name="testeVetResponse">
    <part name="parameters" element="tns:testeVetResponse"/>
  </message>
  <message name="testeNum">
    <part name="parameters" element="tns:testeNum"/>
  </message>
  <message name="testeNumResponse">
    <part name="parameters" element="tns:testeNumResponse"/>
  </message>
  <portType name="BuscaWS">
    <operation name="hello">
      <input wsam:Action="http://WebService/BuscaWS/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://WebService/BuscaWS/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="listarProd">
      <input wsam:Action="http://WebService/BuscaWS/listarProdRequest" message="tns:listarProd"/>
      <output wsam:Action="http://WebService/BuscaWS/listarProdResponse" message="tns:listarProdResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/BuscaWS/listarProd/Fault/Exception"/>
    </operation>
    <operation name="testeVet">
      <input wsam:Action="http://WebService/BuscaWS/testeVetRequest" message="tns:testeVet"/>
      <output wsam:Action="http://WebService/BuscaWS/testeVetResponse" message="tns:testeVetResponse"/>
    </operation>
    <operation name="testeNum">
      <input wsam:Action="http://WebService/BuscaWS/testeNumRequest" message="tns:testeNum"/>
      <output wsam:Action="http://WebService/BuscaWS/testeNumResponse" message="tns:testeNumResponse"/>
    </operation>
  </portType>
  <binding name="BuscaWSPortBinding" type="tns:BuscaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarProd">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="testeVet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="testeNum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BuscaWS">
    <port name="BuscaWSPort" binding="tns:BuscaWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

