BancoWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://WebService/" name="BancoWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://WebService/" schemaLocation="BancoWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="atualizarPedido">
    <part name="parameters" element="tns:atualizarPedido"/>
  </message>
  <message name="atualizarPedidoResponse">
    <part name="parameters" element="tns:atualizarPedidoResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <portType name="BancoWS">
    <operation name="hello">
      <input wsam:Action="http://WebService/BancoWS/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://WebService/BancoWS/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="atualizarPedido">
      <input wsam:Action="http://WebService/BancoWS/atualizarPedidoRequest" message="tns:atualizarPedido"/>
      <output wsam:Action="http://WebService/BancoWS/atualizarPedidoResponse" message="tns:atualizarPedidoResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/BancoWS/atualizarPedido/Fault/Exception"/>
    </operation>
  </portType>
  <binding name="BancoWSPortBinding" type="tns:BancoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="atualizarPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BancoWS">
    <port name="BancoWSPort" binding="tns:BancoWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

